.index {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 1.5em;
  max-width: 1140px;
  margin: 0 auto;
  section.about-us {
    background-color: $color-white;
    margin-top: -2em;
    padding: 2.5em 3em 2em 3em;
    z-index: 10;
    p {
      margin-bottom: 1em;
      &:last-child {
        font-weight: 600;
      }
    }
  }
  aside {
    margin-top: 1em;
    width: 100%;
  }
  section.photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 0;
    grid-column-end: span 2;
    .color-1 {
      //background-color: yellow;
      //height: 100px;
      //width: 600px;
    }
    .color-2 {
      background-color: green;
      height: 100px;
      width: 400px;
    }
    .color-3 {
      background-color: orange;
      height: 100px;
      width: 300px;
    }
    .color-4 {
      background-color: orangered;
      height: 100px;
      width: 100px;
    }
    .color-5 {
      background-color: darkcyan;
      height: 100px;
      width: 100px;
    }

    .element-wrapper {
      padding-left: 2em;
      transform: rotate(1deg);
      margin: 0 0 1rem;

      transition: transform 1s ease-out, width 1s ease-out, padding 1s ease-out,
        background-position 0.3s ease-out !important;

      img {
        height: 400px;
      }
    }
  }
}
